Repository smolijar/laurelin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, tslint -- --files

.lintstagedrc:

{
  "*.ts": ["prettier --write", "tslint --fix", "git add", "tslint -- --files"],
  "*.html": ["prettier --write", "git add"]
}

➕ Add prettier config
  .prettierrc.json
Due: none

🚨 Update src by prettier
  angular.json
  e2e/protractor.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/tsconfig.json
  firebase.json
  karma.conf.js
  ngsw-config.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/index.html
  src/main.ts
  src/manifest.webmanifest
  src/polyfills.ts
  src/test.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
  tslint.json
Due: prettier --write, tslint --fix, tslint -- --files

➕ Add sonarTS
  package-lock.json
  package.json
  tslint.json
Due: none

💬 Change app prefix
  angular.json
  e2e/src/app.po.ts
  src/app/app.component.ts
  src/index.html
  tslint.json
Due: prettier --write, tslint --fix, tslint -- --files

➕ Add material design
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/index.html
  src/main.ts
Due: prettier --write, tslint --fix, tslint -- --files

✨ Add layout module
  src/app/app.component.html
  src/app/app.module.ts
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.component.sass
  src/app/modules/layout/layout.component.spec.ts
  src/app/modules/layout/layout.component.ts
  src/app/modules/layout/layout.module.ts
Due: prettier --write, tslint --fix, tslint -- --files

✨ Add navigation layout
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.sass
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.component.sass
  src/app/modules/layout/layout.component.ts
  src/app/modules/layout/layout.module.ts
  src/styles.sass
Due: prettier --write, tslint --fix, tslint -- --files

💄 Fix spacing in layout
  src/app/modules/layout/layout.component.sass
Due: none

💄 Fix title
  src/app/modules/layout/layout.component.html
Due: prettier --write

✨ Add user button
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.component.sass
Due: prettier --write

💄 Change theme
  angular.json
  src/styles.sass
Due: none

➕ Add akita
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
Due: prettier --write, tslint --fix, tslint -- --files

➕ Add angular firestore
  package-lock.json
  package.json
  src/app/app.module.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix, tslint -- --files

✨ Add session service, query and store
  src/app/state/session/session.query.ts
  src/app/state/session/session.service.ts
  src/app/state/session/session.store.ts
Due: prettier --write, tslint --fix, tslint -- --files

✨ Add user-widget component in layout
  src/app/modules/layout/user-widget/user-widget.component.html
  src/app/modules/layout/user-widget/user-widget.component.spec.ts
  src/app/modules/layout/user-widget/user-widget.component.ts
Due: prettier --write, tslint --fix, tslint -- --files

💄 Update layout component
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.component.ts
  src/app/modules/layout/layout.module.ts
Due: prettier --write, tslint --fix, tslint -- --files

✨ Add akita persistance
  src/main.ts
Due: prettier --write, tslint --fix, tslint -- --files

💩 Fix avatar styles hackishly
  src/app/modules/layout/user-widget/user-widget.component.html
  src/app/modules/layout/user-widget/user-widget.component.sass
  src/app/modules/layout/user-widget/user-widget.component.ts
Due: prettier --write, tslint --fix, tslint -- --files

✨ Add loading indicator management
  src/app/state/session/session.service.ts
Due: prettier --write, tslint --fix, tslint -- --files

🔧 Add missing fire config for prod (use dev for now)
  src/environments/devFirebaseConfig.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix, tslint -- --files

➕ Add i18n, inject root
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
Due: prettier --write, tslint --fix, tslint -- --files

🌐 Add i18n module
  src/app/modules/shared/i18n/i18n.module.ts
  src/assets/i18n/cs.json
  src/assets/i18n/en.json
Due: prettier --write, tslint --fix, tslint -- --files

🌐 Integrate i18n module
  src/app/modules/layout/layout.module.ts
  src/app/modules/layout/user-widget/user-widget.component.html
Due: prettier --write, tslint --fix, tslint -- --files

➕ Add akita fire, routing
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
Due: prettier --write, tslint --fix, tslint -- --files

✨ Add simple blog list, detail
  src/app/modules/blog/blog-detail/blog-detail.component.html
  src/app/modules/blog/blog-detail/blog-detail.component.sass
  src/app/modules/blog/blog-detail/blog-detail.component.ts
  src/app/modules/blog/blog-new/blog-new.component.html
  src/app/modules/blog/blog-new/blog-new.component.sass
  src/app/modules/blog/blog-new/blog-new.component.ts
  src/app/modules/blog/blog.component.html
  src/app/modules/blog/blog.component.sass
  src/app/modules/blog/blog.component.ts
  src/app/modules/blog/blog.module.ts
  src/app/modules/blog/post/post.component.html
  src/app/modules/blog/post/post.component.sass
  src/app/modules/blog/post/post.component.ts
  src/app/modules/blog/state/post.model.ts
  src/app/modules/blog/state/posts.query.ts
  src/app/modules/blog/state/posts.service.ts
  src/app/modules/blog/state/posts.store.ts
  src/app/modules/layout/layout.component.html
  src/app/modules/layout/layout.module.ts
  src/app/state/session/session.service.ts
  src/app/state/session/session.store.ts
  src/app/state/user/user.model.ts
  src/app/state/user/users.query.ts
  src/app/state/user/users.service.ts
  src/app/state/user/users.store.ts
  src/main.ts
Due: prettier --write, tslint --fix, tslint -- --files

🔒 Distinguish user public and private data
  src/app/modules/blog/blog-detail/blog-detail.component.ts
  src/app/modules/blog/state/post.model.ts
  src/app/state/session/session.service.ts
  src/app/state/session/session.store.ts
  src/app/state/user/user.model.ts
  src/app/state/user/users.service.ts
  src/app/state/user/users.store.ts
Due: prettier --write, tslint --fix, tslint -- --files

💄 Fix post margin
  src/app/modules/blog/blog.component.sass
Due: none

💄 Position FAB
  src/app/modules/blog/blog.component.html
  src/app/modules/blog/blog.component.sass
Due: prettier --write

✨ Create new post form
  package-lock.json
  package.json
  src/app/modules/blog/blog-new/blog-new.component.html
  src/app/modules/blog/blog-new/blog-new.component.sass
  src/app/modules/blog/blog-new/blog-new.component.ts
  src/app/modules/blog/blog.module.ts
Due: prettier --write, tslint --fix, tslint -- --files

✨ Add wrapper component
  src/app/modules/blog/blog-detail/blog-detail.component.html
  src/app/modules/blog/blog-new/blog-new.component.html
  src/app/modules/blog/blog-new/blog-new.component.sass
  src/app/modules/blog/blog.component.html
  src/app/modules/blog/blog.component.sass
  src/app/modules/blog/blog.module.ts
  src/app/modules/layout/components/wrapper/wrapper.component.html
  src/app/modules/layout/components/wrapper/wrapper.component.sass
  src/app/modules/layout/components/wrapper/wrapper.component.ts
  src/app/modules/layout/layout.module.ts
Due: prettier --write, tslint --fix, tslint -- --files

✨ Add post editing
  src/app/app-routing.module.ts
  src/app/modules/blog/blog-detail/blog-detail.component.ts
  src/app/modules/blog/blog-new/blog-new.component.ts
  src/app/modules/blog/post/post.component.html
Due: prettier --write, tslint --fix, tslint -- --files

♻️ Refactor post saving
  src/app/modules/blog/blog-new/blog-new.component.ts
  src/app/modules/blog/state/post.model.ts
Due: prettier --write, tslint --fix, tslint -- --files

💬 Rename blog form component
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/modules/blog/blog-post/blog-form.component.html
  src/app/modules/blog/blog-post/blog-form.component.sass
  src/app/modules/blog/blog-post/blog-form.component.ts
  src/app/modules/blog/blog.module.ts
Due: prettier --write, tslint --fix, tslint -- --files

🐛 Fix error on missing post when creating
  src/app/modules/blog/blog-post/blog-form.component.ts
Due: prettier --write, tslint --fix, tslint -- --files

✨ Add form state resetting on submit
  src/app/modules/blog/blog-post/blog-form.component.ts
Due: prettier --write, tslint --fix, tslint -- --files

🌐 Update buttons, add translations
  src/app/modules/blog/blog-post/blog-form.component.html
  src/app/modules/blog/blog-post/blog-form.component.ts
  src/app/modules/blog/blog.module.ts
  src/assets/i18n/cs.json
  src/assets/i18n/en.json
Due: prettier --write, tslint --fix, tslint -- --files

🐛 Fix pickPublic function
  src/app/state/session/session.service.ts
Due: prettier --write, tslint --fix, tslint -- --files

🐛 Fix post truncate on detail
  src/app/modules/blog/blog-detail/blog-detail.component.html
  src/app/modules/blog/blog.component.html
  src/app/modules/blog/post/post.component.html
  src/app/modules/blog/post/post.component.ts
Due: prettier --write, tslint --fix, tslint -- --files

🌐 Add translations
  src/app/modules/blog/blog-post/blog-form.component.html
  src/app/modules/blog/post/post.component.html
  src/assets/i18n/cs.json
  src/assets/i18n/en.json
Due: prettier --write

🐛 Fix missing user in posts
  src/app/modules/blog/blog-detail/blog-detail.component.html
  src/app/modules/blog/blog-detail/blog-detail.component.ts
  src/app/modules/blog/blog.component.html
  src/app/modules/blog/blog.component.ts
  src/app/modules/blog/post/post.component.html
  src/app/modules/blog/post/post.component.ts
  src/app/modules/blog/state/post.model.ts
  src/app/state/user/users.query.ts
Due: prettier --write, tslint --fix, tslint -- --files
